html, body {
    overflow-x: hidden;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto',sans-serif;
    line-height: 1.55;
}

h1 {
    font-size: 5vh;
    padding-left: 40px;
    padding-right: 40px;
}

#main-display {
    transition: all 0.5s;
    position: fixed;
    top: -0;
    bottom: 0;
}

#main-display.hide {
    top: -200vh;
    bottom: 200vh;
}

#help-display {
    transition: all 0.5s;
    position: fixed;
    top: 12vh;
    bottom: 12vh;
    right: 10vw;
    left: 10vw;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid white;
    border-radius: 100px;
    overflow-y: auto;
}

#help-display.hide {
    top: -200vh;
    bottom: 200vh;
}

#help-display-text {
    padding: 30px;
}

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#generated-text {
    overflow: auto;
    text-align: left;
    display: block;
    margin-left: 25vw;
    width: 50vw;
    height: 30vh;
    font-family: 'Source Code Pro', Courier, Monaco, monospace;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    padding: 20px;
    margin-top: 4vh; 
    margin-bottom: 4vh; 
}

p {
    margin-top: 2vh; 
    margin-bottom: 3vh;
    padding-left: 40px;
    padding-right: 40px;
}

#push-button-container {
    display: block;
    height: 5vh;
}

a.push-button {
    font-size: 1em;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a {
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer !important;
}

a.push-button:active {
    transform: translateY(5px);
}

a:hover {
    color: #ffe5ad;
    border-color: #ffe5ad;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

card {
    width: 40vw;
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    vertical-align: baseline;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

card a {
    text-decoration: none;
}

card .card-text {
    transition: all 0.5s;
    border: 0.1em solid #FFFFFF;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

card .card-text:active {
    transform: translateY(10px);
}

card .card-text:hover {
    border: 0.1em solid #ffe5ad;
}

