#background{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0f0919;
}
#bkFrame{
    position: fixed;
    top: 0; left: 0; 
    width: 100%; height: 100%;
}
